<div id="new-face-form" class="small-12 medium-10 large-8 columns medium-centered large-centered">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign up</h3>
    <%= devise_error_messages! %>
    <div class="form-group small-12 medium-10 large-8 medium-centered large-centered columns">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control radius' %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control radius' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control radius' %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control radius' %>
      <%= f.label :invitation_token %>
      <%= f.text_field :invitation_token, class: 'form-control radius' %>
      <%= f.submit 'Sign up', :class => 'button right radius' %>
    </div>
  <% end %>
</div>
