<div  class="row">
	<header id="title">
		<h1>Alaska Fire Faces</h1>
	</header>
	<% if user_signed_in? %>
		<div id="home-message" class="small-12 medium-8 large-8 columns medium-centered large-centered text-center">
			<h3>Welcome. Now you can start studying or add some new cards. Have fun.</h3>

		</div>
		<div class="button-group">
			<div id="study-button">
				<%= link_to "STUDY", learn_path, class: "button radius success " %>
			</div>
			<div id="new-face-button">
				<%= link_to "ADD CARD", new_face_path, class: "button radius" %>
			</div>
		</div>
		<% else %>
		<section id="welcome-page" class="small-12 medium-10 large-8 columns large-centered text-center">
			<h3>Flash cards to help learn the folks in the wildland fire environment.</h3>
			<div id="slideshow">
	     	<h3>Guess Who?</h3>
				<div class="cycle-slideshow show-avatar">
			    <%= image_tag 'louis.jpg' %>
			    <%= image_tag 'ben.jpg' %>
			    <%= image_tag 'tim.jpg' %>
			    <%= image_tag 'tylan.gif' %>
			    <%= image_tag 'bwood.jpg' %>
			    <%= image_tag 'nate.jpg' %>
				</div>
			</div>
		<div id="new-face-button" >
			<%= link_to "GET ACCESS", 'javascript:;', class: "button radius" %>
		</div>
		</section>
		<section id="access-message" class="small-12 large-8 columns large-centered text-center hide">
			<h3>Here's How It Goes</h3>
			<ul>
				<li><p>Feel free to use the app as much as you like. If you find it is helping you be more friendly then please contribute by making some cards.</p></li>
				<li><p>Feel free to edit any of the cards. If someone's name is spelled wrong go ahead and fix it. If you have a better photo, change it.</p></li>

				<li><p>That said, don't be a dick. Do not intentionally post bad photos or offensive comments. If it is determined you are being a dick you get eighty-sixed.</p></li>
				<li><p>If you have any problems with the app, have a great suggestion, or would like to report possible dickishness, contact me throught the 'Report a Bug' link at the bottom of the page.</p></li>

			<li><p>Many people who want to use this app don't like their picture and face posted publicly on the internet, so to respect that point of view the contents of this app are not public and access to the app is granted by invitation only.</p></li>
				
			<li><p>If you somehow found this app and would like to use it but do not know of anyone who can send you a message, contact Brentwood Reid.</p></li>
			</ul>
				<div id="new-face-button" >
					<%= link_to "SIGNUP", new_user_registration_path, class: "button radius" %>
				</div>
		</section>
	<% end %>

</div>
<script type="text/javascript">
	$('#new-face-button').click(function() {
		$('#welcome-page').hide();
		$('#access-message').toggleClass('hide');

	});
</script>

