<%= content_for :title, "Edit Card" %>
<div class="row">
	<div id="new-face-form" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<h2>Edit Card</h2>

		<div class="row">
    <div id="avatar-holder" class="small-12 small-centered large-8 large-centered columns">
      <div>
      <% if @face.avatar? %>
        <div class="face-avatar">
          <%= image_tag @face.avatar.url, id: 'avatar-image' %>
        </div>
        <div id="edit-avatar-link"><%= link_to 'edit', 'javascript:;' %></div>
      <% else %>
        <div class="face-avatar">
          <%= image_tag 'blank.png', id: 'avatar-image' %>
          <!-- <h4 id="add-text">Add</br>Photo</h4> -->
        </div>
      <% end %>
      <%= form_for @face do |f| %>
      </div>
    </div> 
    <div class="form-fields small-12 large-8 large-centered medium-centered medium-10 columns">
      <%= f.file_field :avatar, id: 'avatar-file' %>
      <%= f.text_field :name, placeholder: "NAME", class: "radius" %>
      <%= f.text_field :agency, placeholder: "AGENCY", class: "radius" %>
      <%= f.text_field :position, placeholder: "POSITION", class: "radius" %>
      
      <%= f.submit "EDIT CARD", class: 'button small success radius' %>
    <% end %>
      <%= link_to "DELETE CARD", @face, method: :delete, data: { confirm: "You sure?" }, class: 'button small alert radius' %>
    </div>
</div>

	</div>
</div>
<script>
  //  temporary avatar
  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#avatar-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-file").change(function(){
    readURL(this);
  });
  // activate file upload
  $('.face-avatar').click(function() {
    $('#avatar-file').trigger('click');
  });
  $('#edit-avatar-link').click(function() {
    $('#avatar-file').trigger('click');
  });
</script>