<%= content_for :title, 'All faces' %>

<div class="row">
	<div id="index-faces" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<div class="row">
			<% @faces.each do |face| %>
			<div class="small-12 small-centered medium-10 large-8 columns">
				<div>
			    <div class="index-avatar">
			      <%= link_to (image_tag face.avatar.url), face %>
			    </div>
				</div>
			</div> 
			<% end %>

		</div>
	<div class="pagination">
		<%= will_paginate @faces, class: 'digg_pagination' %>
	</div>
	</div>
		<div id="study-button">
			<%= link_to "STUDY", learn_path, class: "button radius success " %>
		</div>
		<div id="new-face-button">
			<%= link_to "ADD FACE", new_face_path, class: "button radius" %>
		</div>
</div>