<%= content_for :title, 'All faces' %>

<div class="row">
	  <%= form_tag(faces_path, :method => "get", class: "", id: "search-form") do %>
    <div class="input-append small-12 small-centered medium-8 large-8 large-centered medium-centered columns">      <div class="row collapse">
        <div class="small-10 columns">
          <%= text_field_tag :search, params[:search], class: "radius", placeholder: "NAME, AGENCY, OR POSITION" %>
        </div>
        <div class="small-2 columns">
          <button class="button postfix radius" type="submit"><%= fa_icon 'search' %></button>
        </div>
      </div>
    </div>
  <% end %>
	<div id="title">
		<h1>
			<%= link_to "PHOTOS", 'javascript:;', class: 'index-link selected' %> / <%= link_to "DIRECTORY", 'javascript:;', class: 'index-link' %>
		</h1>
	</div>
	<div id="index-faces" class="index-block small-12 medium-10 large-10 columns small-centered medium-centered large-centered">
		<div class="row">
			<% @faces.each do |face| %>
			<div id="avatar-holder" class="small-12 small-centered medium-10 large-10 large-centered medium-centered columns">
				<div>
			    <div class="index-avatar">
			      <%= link_to (image_tag face.avatar.url(:thumb)), face %>
			    </div>
				</div>
			</div> 
			<% end %>

		</div>
		<div class="pagination">
			<%#= will_paginate @faces, class: 'digg_pagination' %>
		</div>
	</div>
	<div id="directory" class="index-block small-10  columns small-centered medium-centered large-centered hide">
		<div class="row">
			<ul>
				<% @names.each do |face| %>
				<li><%= link_to face.name, face_path(face) %></li>
				<% end %>
			</ul>
		</div>
	<div class="pagination">
		<%#= will_paginate @names, class: 'digg_pagination' %>
	</div>
	</div>
		<div id="study-button">
			<%= link_to "STUDY", learn_path, class: "button radius success " %>
		</div>
		<div id="new-face-button">
			<%= link_to "ADD CARD", new_face_path, class: "button radius" %>
		</div>
</div>
<script type="text/javascript">
	$('.index-link').click(function() {
		$('.index-link').toggleClass('selected');
		$('.index-block').toggleClass('hide');
	});
</script>