
<%= content_for :title, "Learn" %>

<div class="row">
	<div id="show-face" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<div class="row">
			<div id="avatar-holder" class="small-12 small-centered large-4 columns">
			<div class="small-12 medium-10 large-8 medium-centered large-centered text-center columns">
				<h4 class="light-head">GUESS WHO?</h4>
			</div>
				<div>
			    <div class="show-avatar">
			      <%= link_to (image_tag @face.avatar.url(:medium), id: 'avatar-image', alt: ""), face_path(@face) %>
			    </div>
				</div>
			</div> 
			<div id="choices">
				<ul>
					<% @choices.shuffle.each do |choice| %>
						<li class="choice"><h5><%= link_to (choice.name), 'javascript:;' %></h5></li>
					<% end %>
				</ul>
			</div>
			<div id="study-button">
				<%= link_to "NEXT", learn_path, class: "button radius success " %>
			</div>
		</div>
	</div>
</div>
<%= audio_tag "error.mp3", id: 'error_sound', autoplay: false %>
<%= audio_tag "correct.mp3", id: 'correct_sound', autoplay: false %>
<script>

var face = '<%= j @face.name %>';
$('.choice').click(function() {
	if ($(this).text() === face ) {
		$(this).children().prepend('<%= fa_icon "check", class: 'icon correct' %>');
		$('#correct_sound')[0].play();
	} else {
		$(this).children().prepend('<%= fa_icon "times", class: 'icon wrong' %>');
		$('#error_sound')[0].play();
	}

	
});

</script>
