<%= content_for :title, "New Face" %>
<div class="row">
	<div id="new-face-form" class="small-12 medium-10 large-8 columns medium-centered large-centered">
		<h2>Add a Face</h2>

		<div class="row">
    <div id="avatar-holder" class="small-12 small-centered large-8 columns">
      <div>
      <% if @face.avatar? %>
        <div class="face-avatar">
          <%= image_tag @face.avatar.url, id: 'avatar-image' %>
        </div>
      <% else %>
        <div class="face-avatar">
          <%= image_tag 'blank.png', id: 'avatar-image' %>
          <!-- <h4 id="add-text">Add</br>Photo</h4> -->
        </div>
      <% end %>
      <%= form_for @face, :url => faces_path, :html => { :multipart => true } do |f| %>
      </div>
    </div> 
    <div class="small-12 medium-10 large-8 columns">
      <%= f.file_field :avatar, id: 'avatar-file' %>
      <%= f.text_field :name, placeholder: "NAME", class: "radius" %>
      <%= f.text_field :agency, placeholder: "AGENCY", class: "radius" %>
      <%= f.submit "ADD FACE", class: 'button small success radius' %>
    </div>
    <% end %>
</div>

	</div>
</div>
<script>
  //  temporary avatar
  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#avatar-image').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  $("#avatar-file").change(function(){
    readURL(this);
  });
</script>